/***********全局重置CSS*****************/
body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{margin:0; font-size:12px;}
p{ margin:0;}
ul,ol,li{padding-left:0;list-style-type:none;}
img{border:0;}/***消除img默认边框*****/
a{text-decoration:none;}/* 链接无下划线 */
a:hover{cursor:pointer;text-decoration:underline;} /*鼠标在链接上出下划线,为手势形态 */
table {border-collapse:collapse;}/*细线表格*/
em{font-style:normal;}
html{ overflow-y:scroll;}/***默认让所有浏览器出现右边滚动条****/
.clear{font-size:0;line-height:0;height:0;clear:both;overflow:hidden;display:block;}
:focus{ outline: 0;}
/***默认清除浮动****/
body {font-family:"微软雅黑","sans-serif","Arial";font-size:12px;  width:100%;background:url(baoyebg20171207_03.jpg);}
/****************全局头尾******************/
/******底部样式******/
/****中间头部样式***/
.baoye_index{ width:100%; position:absolute; top:calc(25%); overflow:hidden;}
.baoye_index ul{ width:100%; padding:0 1%; overflow:hidden;}
.baoye_index ul li{ display:inline; float:left; width:14%;}
.baoye_index ul li img{ width:100%;}
.baoye_index ul li a{ display:block;}

.baoye_neiy{ width:90%; margin:60px auto; border:5px solid #28546a; border-radius:20px; padding:0 0 20px 0;}
.baoye_neiy .tit{ background:url(baoyenei20171207_03.jpg) no-repeat; height:117px; width:370px; text-align:center; font-size:26px; color:#00fcff; font-weight:bold; line-height:60px; padding:0 0 0 130px; position:relative; top:-35px; left:-5px;}
.baoye_neiy .ditucont{ width:75%; float:left; display:inline; margin:0 2%;}
.baoye_neiy .ditucont img{ width:100%;}
.baoye_neiy .rdzz_rightList{ float:left; width:15%;}
.baoye_neiy .nei_tit{ font-size:36px;color:#00fcff; font-weight:bold; background:#0e384e; text-align:center; border-radius:20px; height:70px; line-height:70px; border:1px solid #1d9bbd; box-shadow:0px 0px 10px rgba(256,256,256,.4); margin:0 0 20px 0;}
.baoye_neiy .wid2{ width:30%; margin:0 0 50px 3%;}
.baoye_neiy .wid4{ width:50%; margin:30px auto;}
.baoye_neiy .rdzz_rightList ul{ padding:0 0 0 40px;}
.baoye_neiy .rdzz_rightList ul li{ line-height:60px; height:60px; font-size:30px; overflow:hidden; color:#fff; }
.baoye_neiy .rdzz_rightList ul li span{ float:left; display:inline; margin:23px 20px 0 0; height:13px; width:13px; display:block; background:#00fcff; border-radius:15px;}
.baoye_neiy .rdzz_rightList ul li span.bg2{ opacity:0.9;}
.baoye_neiy .rdzz_rightList ul li span.bg3{ opacity:0.8;}
.baoye_neiy .rdzz_rightList ul li span.bg4{ opacity:0.7;}
.baoye_neiy .rdzz_rightList ul li span.bg5{ opacity:0.6;}
.baoye_neiy .rdzz_rightList ul li span.bg6{ opacity:0.5;}
.baoye_neiy .rdzz_rightList ul li span.bg7{ opacity:0.4;}
.baoye_neiy .rdzz_rightList ul li span.bg8{ opacity:0.3;}
.baoye_neiy .rdzz_rightList ul li span.bg9{ opacity:0.2;}
.baoye_neiy .rdzz_rightList ul li span.bg10{ opacity:0.1;}
.baoye_neiy .rdzz_rightList ul li span.bg11{ background-color:#00ff00;}
.baoye_neiy .rdzz_rightList ul li span.bg12{ background-color:#fee548;}
.baoye_neiy .rdzz_rightList ul li span.bg13{ background-color:#fc3491;}

.baoye_neiy .rdzz_rightList ul li em{ float:left; font-size:30px; display:inline; margin:0 15px 0 0; width:150px; text-align:right;}
.baoye_neiy .rdzz_rightList ul li a{ color:#fff;}

.baoye_neiy .ditucont2{ width:45%;}
.baoye_neiy .ditucont3{ width:25%;}
.baoye_neiy .ditucont4{ width:29%;}

.baoye_neiy .hot_redian{ width:45%; float:left;}
.baoye_neiy .hot_redian ul{ padding:0; position:relative;}

.baoye_neiy .shis_cont{ background:url(hlwrendian20171207_07.png) bottom left no-repeat; padding:0 0 300px 0;}
.baoye_neiy .shis_cont ul{ width:94%; margin:0 auto; overflow:hidden;}
.baoye_neiy .shis_cont ul li{ float:left;   width:11.5%;margin:0 1% 1% 0; height:190px; position:relative;}
.baoye_neiy .shis_cont ul li.wid3{ width:24%}
.baoye_neiy .shis_cont ul li.bg1{background:#2081f4; }
.baoye_neiy .shis_cont ul li.bg2{background:#08206c; }
.baoye_neiy .shis_cont ul li.bg3{background:#46c116; }
.baoye_neiy .shis_cont ul li.bg4{background:#e93e06; }
.baoye_neiy .shis_cont ul li.bg5{background:#007b84; }
.baoye_neiy .shis_cont ul li.bg6{background:#c8013d; }
.baoye_neiy .shis_cont ul li.bg7{background:#fee548; }
.baoye_neiy .shis_cont ul li a{ color:#fff; font-size:26px; position:absolute; top:50%; margin-top:-20px; line-height:40px; text-align:center; width:90%; left:5%; }
.baoye_neiy .shis_cont ul li a.er{ margin-top:-40px;}
.baoye_neiy .shis_cont ul li a.san{ margin-top:-60px;}
.baoye_neiy .shis_cont ul li a:hover{ text-decoration:none;}

.baoye_neiy .khd_cont{ width:100%; overflow:hidden;}

.baoye_neiy .tubiao_one{ width:90%; margin:20px auto;}
.baoye_neiy .tubiao_one img{ width:100%;}

.tubiao_two{ background:url(baoyeer20171207_10.png) top center no-repeat; background-size: 100% 100%;padding:20px 3%; margin:10px;}
.tubiao_two .tit{ line-height:95px; color:#00fcff; text-align:center; font-size:36px; background:url(daping20171207_03.png) center center no-repeat;
}
.tubiao_two .cont{ background:url(daping20171207_07.png) center center  no-repeat; background-size:100% 100%; padding:20px 1%; }
.tubiao_two .cont .top_tit{ background:url(baoye320171207_03.png) left center no-repeat; color:#00fcff; font-size:26px; height:50px; line-height:50px; padding:0 0 0 50px; margin:40px 0;}
.tubiao_two .cont .cont_shuju{ background:url(daping220171207_06.png); width:98%; margin:0 auto; overflow:hidden;}
.tubiao_two .cont .cont_shuju .leftcon{ float:left; width:450px ; height:300px; background:url(daping220171207_03.png); padding:105px 0 0 100px; text-align:center; color:#f5d45f; font-size:23px; line-height:50px; display:inline; margin:0 20px 0 0;}
.tubiao_two .cont .cont_shuju .leftcon h1{ font-size:105px; line-height:130px; font-family:Tahoma, Geneva, sans-serif}
.tubiao_two .cont .cont_shuju .leftcon h1 span{ font-size:23px;}
.tubiao_two .cont .cont_shuju .rightcon{ padding:50px 30px 0 0;}
.tubiao_two .cont .cont_shuju .rightcon p{ line-height:44px; color:#4ad6fa; font-size:18px; overflow:hidden; height:44px;}
.tubiao_two .cont .cont_shuju .rightcon p a{ color:#4ad6fa;}
.tubiao_two .cont .cont_shuju .rightcon p span,.tubiao_two .cont .cont_shuju .rightcon p em{ float:right; width:120px;}


.baoye_neiy .zl_jituan{ width:45%; float:left;}
.baoye_neiy .zl_jituan .text{ color:#f2d506; font-size:48px; line-height:80px; text-align:center;}
.baoye_neiy .zl_jituan .text span{ padding:0 10px; color:#fff; font-size:24px;}
.baoye_neiy .zl_jituan .text2{font-size:24px;line-height:40px; text-align:center;color:#f2d506;}
.baoye_neiy .zl_jituan .text2 font{ padding:0 20px;}

.baoye_neiy .zc_zxxx{ width:90%; margin:0 auto; float:none; background:url(shujubg20171207_03.png) bottom left no-repeat; padding:0 0 150px 0; }
.baoye_neiy .zc_zxxx ul{ }
.baoye_neiy .zc_zxxx ul li strong,.baoye_neiy .zc_zxxx ul li em{ font-weight:normal; float:right; width:200px;}

.baoye_neiy .zl_jituan ul li{ background:url(baoye520171207_03.png) left center no-repeat; color:#00fcff; font-size:30px; padding:0 0 0 70px; height:70px; line-height:70px;}
.baoye_neiy .zl_jituan ul li.bg2{ background-image:url(baoye520171207_06.png);}
.baoye_neiy .zl_jituan ul li.bg3{ background-image:url(baoye520171207_08.png);}

/*----爆料---*/

.baoliao_neiy{ width:96%; margin:20px auto; }
.baoliao_neiy .tit{ height:75px; line-height:75px; color:#fff;background: linear-gradient(70deg,#218ba3, #0c141e); font-size:40px; text-indent:40px;}
.baoliao_neiy .baoliaocont{ margin:30px 100px; border-left:10px solid #008d8d;}
.baoliao_neiy .baoliaocont .cont{ margin:0 0 40px 115px; position:relative; color:#fff; font-size:18px;}
.baoliao_neiy .baoliaocont .cont span{ position:absolute; left:-175px;  top:50%; margin-top:-24px; height:48px; width:105px; color:#010100; font-size:16px; background:#14c3d1; display:block; line-height:48px; text-align:center; border-radius:10px;}
.baoliao_neiy .baoliaocont .cont p{ background:#0e2836; padding:20px;}
.baoliao_neiy .baoliaocont .cont h1{ font-size:18px; font-weight:normal;}

.baoliao_neiy .kehuduancont{margin:30px 50px; padding:0 0 0 80px; position:relative; color:#fff; font-size:18px;}
.baoliao_neiy .kehuduancont span{ width:50px; height:50px; position:absolute; left:0px; top:50%; margin-top:-15px;}
.baoliao_neiy .kehuduancont span img{ width:100%;}
.baoliao_neiy .kehuduancont h1{ font-size:18px; font-weight:normal;}
.baoliao_neiy .kehuduancont p{ padding:20px; border:1px solid #42d5ff; background:#226078;}

.baoliao_neiy .toubantt ul{ margin:30px 0 0 0;}
.baoliao_neiy .toubantt ul li{ height:30px; line-height:30px; margin:0 0 10px 0;font-size:18px; padding:0 0 0 250px; position:relative;}
.baoliao_neiy .toubantt ul li strong{ width:250px; position:absolute; left:0px; top:0px; height:30px; text-align:right;}
.baoliao_neiy .toubantt ul li strong b{background:#16e1f3; display:inline-block; height:30px;}
.baoliao_neiy .toubantt ul li span{ width:80%; float:left; color:#fff; margin:0 5%;}
.baoliao_neiy .toubantt ul li em{ color:#fff701; float:left; width:10%;}

.zh_leftcon{ width:30%; float:left;}
.zh_leftcon .tit,.zh_concon .tit,.zh_rightcon .tit{ height:30px; line-height:30px; font-size:18px;}
.zh_leftcon .kehuduancont{ font-size:14px; padding:0 0 0 40px; margin:30px 0;}
.zh_leftcon .kehuduancont span{ width:30px; height:30px;}

.zh_leftcon .jingqizc p{ text-align:center; color:#fff; font-size:18px; line-height:30px;}
.zh_leftcon .jingqizc table{ width:100%;}
.zh_leftcon .jingqizc table .tou td{background: linear-gradient(#104f61, #092026); color:#76d1e4; text-align:center;}
.zh_leftcon .jingqizc table tr td{ line-height:20px; font-size:14px; color:#fff; padding:5px 0; width:20%;}
.zh_leftcon .jingqizc table tr td.chang{ width:50%;}
.zh_leftcon .ditu{ margin:10px 0;}
.zh_leftcon .ditu img{ width:100%;}

.zh_concon{ width:30%; float:left; margin:0 5%; display:inline;}
.zh_concon .toubantt2{ margin:0 0 10px 0;}
.zh_concon .toubantt2 ul li{font-size:14px; padding:0 100px 0 0; position:relative; height:30px; line-height:30px;}
.zh_concon .toubantt2 ul li strong{ width:100px; position:absolute; right:0px; top:7px; height:15px; text-align:left; color:#fff; font-weight:normal; line-height:15px;}
.zh_concon .toubantt2 ul li strong b{ height:15px;background:#16e1f3; display:inline-block;}
.zh_concon .toubantt2 ul li span{ width:100%; color:#fff; }

.zh_rightcon{ width:30%; float:right;}
.zh_rightcon .cont{ border:1px solid #2a5460; border-radius:10px; margin:20px 0; padding:20px ; font-size:14px; color:#fff;}
.zh_rightcon .cont h1{ font-size:18px; text-align:center;}
.zh_rightcon .cont p{ margin:20px 0 0 0; text-indent:20px;}

/*--特区报成品改版--*/


.baoye_bili{ float:left; width:32%; margin:20px 0px 20px  0.6%; border:4px solid #13b5e4; border-radius:20px; padding:0 0 40px 0;}
.baoye_bili .tit{ background:url(bilitu20180302_06.png) center center no-repeat; height:40px; line-height:40px; margin:10px 20px; font-size:28px; color:#13b5e4; text-align:center;}
.baoye_bili .tit3{ font-size:20px;height:30px; line-height:30px; color:#13b5e4; text-align:center; margin:10px 0;}
.baoye_bili .tit img{ height:100%;}
.baoye_bili .tubiao_one{ text-align:center;}
.baoye_bili .tubiao_one img{ width:45%;}
.baoye_bili .tit2 img{ width:100%;}


.baoye_bili .biliquan{ background:url(bilitu20180302_11.png) center center no-repeat; background-size:auto 100% ; padding:82px 0; width:50%; margin:30px auto; color:#00f8ec; font-size:40px; font-family:Arial, Helvetica, sans-serif; text-align:center; height:50px; line-height:55px; font-weight:bold; }
.baoye_bili .biliquanD{ font-size:60px; width:70%; padding:150px 0; margin:57px auto;}
.baoye_bili .bilifang{ float:left; display:inline; width:30%; background:url(baoyekuang20180302_03.png) center center no-repeat; background-size:100% 100%; color:#00fcff; margin:40px 0 0 10%; padding:3% 2%;}
.baoye_bili .bilifang h3{ font-size:30px; margin:0 0 20px 0;}
.baoye_bili .bilifang p{ font-size:30px;}

.baoye_bili .biliquan2{ width:28%; font-size:30px;padding:60px 0; height:40px; line-height:45px; float:left; margin:10px 0 0 3%;}
.baoye_bili .bilifang2{ width:24%; margin:20px 0 0 3%; padding:2%; }
.baoye_bili_right{ float:right; display:inline; margin:20px 1% 20px  0;}
.baoye_jiange{ clear:both; padding:20px 0 0 0;}
.baoye_bili .biliquan3{ float:left; width:35%; margin:60px 0 0 0; }
.baoye_bili .bilifang3{ float:right; margin:20px 3% 0 0;}

.baoye_bili .bilibottombtn{ position:relative; margin-top:-80px; float:left; width:100%;}
.baoye_bili .biliquan4{ float:left; width:55%; padding:114px 0; margin:80px 0 40px 0; }
/*--特区报成品改版2--*/


@font-face { 
  font-family: Quartz Regular; 
  src: url('Quartz Regular.ttf'); 
   }
.baoye_bili2{ float:left; width:32%; margin:20px 0px 20px  0.6%; border:1px solid #285369; border-radius:20px; padding:0 0 10px 0; }
.baoye_bili_right{ float:right; display:inline; margin:20px 1% 0px  0;}
.baoye_bili_p{ padding-bottom:50px;}
.baoye_bili2_b{float:left; width:32%; margin:20px 0px 20px  0.6%;   }
.baoye_bili2_c{border-radius:20px;padding:0 0 10px 0;border:1px solid #285369; margin:0 0 20px 0; }
.baoye_bili2 .tit{ background:url(chengping20180511_06.png) center center no-repeat; height:60px; line-height:60px; margin:10px 20px; font-size:28px; color:#13b5e4; text-align:center;}
.baoye_bili2 .tit2{ height:70px; line-height:70px;margin:10px 20px; font-size:28px; color:#13b5e4; text-align:center;}
.baoye_bili2 .tit2 span{ background:url(chengping20180511_27.png) center center no-repeat;  display:inline-block;background-size:40px 40px ; }
.baoye_bili2 .tit2 span.bg2{ background-image:url(chengping20180511_34.png);}
.baoye_bili2 .tubiao_one{ text-align:center;}
.baoye_bili2 .tubiao_one img{ width:80%;}
.baoye_bili2 .tubiao_one2{ margin:43px 0;}
.baoye_bili2 .tubiao_one2 img{ width:90%;}
.baoye_bili2_b .tubiao_one{ text-align:center;}
.baoye_bili2_b .tubiao_one img{ width:80%;}

.baoye_bili2 .biliquan{background:url(chengping20180511_04.png) center center no-repeat; background-size:100% 100% ;  width:80%; margin:30px auto;  color:#00f8ec; font-size:50px;font-family: Quartz Regular; text-align:center; font-weight:bold; height:60px; line-height:60px; max-width:500px; }
.baoye_bili2 .biliquan_min{ margin:0 auto 20px auto;}
.baoye_bili2 .bilifang{float:left; display:inline; width:35%; background:url(chengping20180511_10_06-03.png) left center no-repeat; background-size:90% 100%; color:#00fcff; margin:40px 0 0 10%; padding:60px 0 67px 0px;  text-align:right;}
.baoye_bili2 .bilifang_R{ text-align:left; background-image:url(chengping20180511_10_06.png); float:right; margin:40px 10% 0 0; background-position:right center; padding:60px 0px 67px 0;}
.baoye_bili2 .bilifang h3{ font-size:16px; }
.baoye_bili2 .bilifang p{ font-size:30px;font-family: Quartz Regular;}
.baoye_bili2 .bilifang3{ margin-top:0;}

.baoye_bili2 .bilifang2{ font-size:38px; color:#00b4eb; padding:40px 0; text-align:center; line-height:60px; float:left; width:29%;font-family: Quartz Regular; background:url(baoyedp20180511_03_03.png) center center no-repeat;background-size:100% 100%;  }
.baoye_bili2 .biliquan2{  color:#fff; font-size:26px; font-family:Arial, Helvetica, sans-serif; text-align:center; font-weight:bold; line-height:45px; padding:0px 10% 0 0; text-align:right; float:left; width:24%;background:url(baoyedp2010512_01.png) left top no-repeat;background-size:100% 65%; margin-left:1%; }
.baoye_bili2 .biliquan2 p{font-family: Quartz Regular;}
.baoye_bili2 .biliquan2 h3{ font-size:16px; color:#13b5e4; line-height:20px;}
.baoye_bili2 .biliquanR{ float:right; text-align:left; padding:0px 0 0 10%; background-image:url(baoyedp2010512_03.png); margin-right:1%;}
.baoye_bili2 .biliquanB{ background-image:url(baoyedp2010512_07.png); margin-top:-35px;}
.baoye_bili2 .biliquanBR{ background-image:url(baoyedp2010512_08.png); margin-top:-35px;margin-right:1%; float:right; text-align:left; padding:0px 0 0 10%; }

.baoye_bili2 .bilitiao{ width:90%; margin:50px auto; height:70px; line-height:70px;}
.baoye_bili2 .bilitiao em{ float:left; color:#7eb2d5; font-size:20px; width:15%; text-align:center;}
.baoye_bili2 .bilitiao .tiaocon{ width:70%; float:left; height:70px; background:#e40381; border-radius:100px; color:#fff; font-size:30px;}
.baoye_bili2 .bilitiao .tiaocon s{ padding:0 10px; text-decoration:none;}
.baoye_bili2 .bilitiao .tiaocon .left_con{ float:left; position:relative; width:50%; background-color:#24b6dd;border-radius:100px 0 0 100px;}
.baoye_bili2 .bilitiao .tiaocon .left_con span{ position:absolute; right:0px; top:0px; height:100%; text-align:right;}
.baoye_bili2 .bilitiao .tiaocon .left_con span img{ height:100%;}
.baoye_bili2 .bilitiao .tiaocon .right_con{ text-align:right;}