*{
    margin:0;
    padding:0;
    border:0;
    font-family: '微软雅黑';
    box-sizing: border-box;
}
body,html{
    background-color: #0e141d;
    width:100%;
    height:100%
}
ul,li{
   list-style: none;
}
a{
	text-decoration: none;
}
.logoRight{
    position: absolute;
    top:0;    
    right:0;
    width:526px;
    height:125px;
    line-height: 112px;
    background-image: url('../images/bureauScreen_03_02.jpg');
}
.topBox{
    border-bottom:3px solid #113252;
    height:69px;
}
.rightTopTerritory{
    height:112px;
    line-height: 112px;
    padding-left: 80px;
    float: left;
    position: relative;
}
.rightTopTerritory span{
    color:#1693ff;
    font-size: 24px;
    font-weight: bold;
}
.territoryjiantou{
    cursor: pointer;
    position: absolute;
    right:-53px;
    margin-top: -17px;
    top:50%;
    display: inline-block;
    width:34px;
    height:34px;
    background-image: url('../images/bureauScreen4_03_03.jpg');
}
.territoryjiantou i{
   display: inline-block;
   width:12px;
   height:6px;
   position: absolute;
   top:50%;
   left:50%;
   margin-left: -6px;
   margin-top: -3px;
   background-image:url('../images/jtb11_03.png');
   transition: .5s;
   -moz-transition: .5s;    /* Firefox 4 */
   -webkit-transition: .5s; /* Safari 和 Chrome */
   -o-transition: .5s;  /* Opera */
}
.rightTopTerritory ul{
    background: #1c4772;
    position: absolute;
    top:90px;
    left:60px;
    display: none;
    z-index: 100;
}
.rightTopTerritory ul li{
    cursor: pointer;
    height:35px;
    color:#72d8ff;
    font-size: 16px;
    padding:0 20px;
    line-height: 35px;
    width:160px;
    text-align: center;
    transition: .3s;
    -moz-transition: .3s;    /* Firefox 4 */
    -webkit-transition: .3s; /* Safari 和 Chrome */
    -o-transition: .3s;  /* Opera */
}
.rightTopTerritory ul li:hover{
    background:#3c6b9a;
}
.rightTopTerritory ul .active{
    background:#3c6b9a;
}
.logoRightIn{
    height: 38px;
    padding:10px 10px 10px 20px;
    border-radius: 4px;
    border:2px solid #164b73;
    outline: none;
    width:130px;
    background:#0e141d;
    color:#7aebff;
    font-size: 14px;
    margin:37px 120px 0 0;
    float: right;
}
/* #map{
  width:69%;
  float: left;
  margin-top:50px;
  min-height:685px 
} */
.center{
    padding:0 50px 0 25px;
    overflow:hidden;
}
#map{
  width:69%;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -8%);
  margin-top:50px;
  min-height:685px 
}
#Province{
    display: none;
    width:69%;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -8%);
    margin-top:50px;
    min-height:685px 
}
#btn{
    height: 38px;
    /*padding: 10px 10px 10px 20px;*/
    border-radius: 4px;
    border: 2px solid #164b73;
    width: 130px;
    background: #0e141d;
    color: #7aebff;
    font-size: 14px;
    display: none;
    cursor: pointer;
}

.disastersMapState{
    overflow: hidden;
    margin: 18px 0px 18px 3px;
    color:#1693ff;
}
.State{
    line-height: 36px;
    algin-center: middom;
}
.State span img{
    vertical-align: middle;
}

