body {
  overflow-x: hidden;
  background-color: #f8f8f8;
  position: relative;
  font-family: "Microsoft yahei";
}
div{
box-sizing: border-box;
}
.clear:after{
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height:0;
}
.wrap{
  width:1100px;
  height:618px;
  margin: 0 auto;
  position: relative;
}
.header {
  margin: 10px 27px 0;
  padding-left: 28px;
  width: 100%;
  /*background:#228AA4 ;*/
  /*background: -webkit-linear-gradient(left, #228AA4, #1790A9, #0D7A91, #0E1720);*/
  /*background: linear-gradient(to right, #228AA4, #1790A9, #0D7A91, #0E1720);*/
  color: #FFFFFF;
  letter-spacing: -1px;
  /*font-weight: 900;*/
  font-size: 16px;
  font-family: "Microsoft yahei";
}
.date_choose i{
  visibility: hidden;
  display: inline-block;
  width:24px;
  height:24px;
  margin:0 10px;
  background: url("../images/left.png")no-repeat;
  background-size: contain;
  cursor: pointer;
  vertical-align: sub;
}
.date_choose i:nth-child(1){
  width: 29px;
  background: url("../images/left2.png")no-repeat;
  background-size: contain;
}
.date_choose i:nth-child(4){
  background: url("../images/right.png")no-repeat;
  background-size: contain;
}
.date_choose i:nth-child(5){
  width: 29px;
  background: url("../images/right2.png")no-repeat;
  background-size: contain;
}

.date_choose input{
  width: 115px;
  display: inline-block;
  outline: none;
  border: 1px solid #dfdfdf;
  background: #ececec;
  /*border-radius: 10px;*/
  color: #545761;
  padding: 0 0 0 11px;
  height: 34px;
  /*width: 100%;*/
  margin-right: 0;
  margin-bottom: 0.5rem;
}
.date_choose input::selection {
  background:transparent;
  color:#fff;
}

.micro-map{
  padding:5px 10px;
  background: #ececec;
  margin-right: 90px;
  border: 1px solid #dfdfdf;
  /*border-radius: 10px;*/
  font-size: 16px;
  line-height: normal;
  float: right;
  cursor: pointer;
  position: relative;
  z-index:999;
}
.micro-map>a{
  color: #545761;
  text-decoration: none;
}
body {
  background-size: cover;
}
.islands-group {
  position: absolute;
  width: 1100px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  opacity: 0.66;
}
.islands-group.islands-group0 {
  top: 345px;
  left: 0;
  opacity: 1;
}
.islands-group.islands-group1 {
  top: 134px;
  left: -314px;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
}
.islands-group.islands-group2 {
  top: 134px;
  right: -316px;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
}
.islands-group.islands-group3 {
  bottom: 98px;
  left: -316px;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
}
.islands-group.islands-group4 {
  right: -316px;
  bottom: 98px;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
}
.islands-group svg {
  position: absolute;
  top: -94px;
  left: 287px;
  z-index: -1;
  width: 455px;
  height: 384px;
}
.islands-group .content {
  position: relative;
  display: inline-block;
  color: #fff;
  text-shadow: 2px 2px 14px #0a0a0a,2px -1px 3px #9e9e9e;
  letter-spacing: 0;
  font-weight: 900;
  font-size: 22px;
  font-family: SimHei;
  line-height: 90px;
  z-index:99;
  cursor: pointer;
}
.islands-group.islands-group1 .content,
.islands-group.islands-group2 .content,
.islands-group.islands-group3 .content,
.islands-group.islands-group4 .content {
  max-width: 455px;
}
.islands-group0 svg{
  z-index:98;
}
.islands-group .content{
  z-index:99
}
.islands-group .content img {
  position: absolute;
  top: 65px;
  left: -5%;
  width: 110%;
  height: 5px;
  border-style: none;
}
.micro-list{
  z-index:104;
  position: absolute;
  width:850px;
  height:auto;
  top:40px;
  bottom: 10px;
  right:-900px;
  border: 3px solid #0098cc;
  background: #0098cc;
  transition: all 1.2s linear;
  opacity: 0;

}
.micro-list .exit{
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: -30px;
  z-index:99;
  cursor: pointer;
  background: #0098cc;
  font-style: normal;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
}
.micro-list .micro-content{
  margin:0 auto;
  position: absolute;
  width: 330px;
  height: auto;
  top: 10px;
  right: 12px;
  bottom: 10px;
  overflow-y: scroll;
}
.micro-list .micro-all-list{
  margin:0 auto;
  position: absolute;
  width: 485px;
  height: auto;
  top: 10px;
  left: 8px;
  bottom: 10px;
  font-family: "Microsoft YaHei", "微软雅黑", "Arial";
}
.micro-content .head-title,
.micro-all-list .head-title{
  padding:10px 0;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  /*background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(115, 253, 254, 1)), to(rgba(255, 255, 255, 1)));*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}
.micro-all-list .head-title{
  text-align: left;
}
.micro-content .micro-item{
  background: #fff;
  width: 100%;
  /*height: 150px;*/
  /*margin: 24px 0;*/
  background-size: 196% 17%;

}
.micro-content .micro-item .item-title{
  /*padding-top: 2px;*/
  padding:10px 0;
  font-size: 14px;
  color: #fff;
  background: #0098cc;
  /*font-weight: bold;*/
  text-align: center;
}
.micro-content .micro-item .item-canvas{
  width:100%;
  height:150px;
}
.micro-item-content{
  padding:7px;
  font-size: 14px;
  color: #545761;
  background:#f8f8f8;
  border-top:3px solid #0098cc;
}
.micro-item-content .item{
  margin:15px 0;
}
.micro-item-content .title span{
  margin:0 5px;
}
.micro-item-content .title span:nth-child(1),
.micro-item-content .title span:nth-child(3){
  color: #00cd60;
}
.micro-item-content .title span:nth-child(3)>a{
  color: #00cd60;
  text-decoration: none;
}
.micro-item-content .content{
  margin-top: 2px;
  line-height: 2;
}

/*��腓堺�*/
.toolTip{
  border:1px solid #0098cc;
  border-radius: 5px;
  background: #0098cc;
  padding:5px;
  font-size: 14px;
  max-width: 425px;
  position: absolute;
  top:20px;
  left:100px;
  z-index:100;
  opacity: 0;

}
.toolTip p{
  color: #fff;
  margin: 10px 0;
}
.toolTip p:nth-child(1){
  color: #fff000;
}
.toolTip p:nth-child(3){
  color: #00f5fe;
}
.toggle-micro-list{
  position: absolute;
  top:44px;
  left:30px;
  z-index:102;
}
.toggle-micro-list span{
  /*border:3px solid #00f5fe;*/
  cursor: pointer;
  border-radius: 3px;
  border:1px solid #7bccdd;
  color: #0099cd;
  background: #fcfcfc;
  font-size: 14px;
  padding:5px 12px;
}
.toggle-micro-list span.itemActive,
.toggle-micro-list span:hover{
  color: #fff;
  background: #0099cd;
}
/*.microblog-hot-list{*/
  /*left:110px;*/
/*}*/

/*列表*/
/*.micro-item-content-tabel-thead div,*/
/*.micro-item-content-tabel-tbody .item-list div{*/
  /*display: inline-block;*/
/*}*/
.micro-item-content-tabel{
  background: #fff;
}
.micro-item-content-tabel-thead{
  background: #fff;
}
.micro-item-content-tabel-thead .titleNum{
  width:10%;
  height:40px;
  line-height: 40px;
  float: left;
  color: #647480;
  text-align: center;
  border-right:1px solid #dddddd;
  border-bottom:1px solid #dddddd;
}
.micro-item-content-tabel-thead .title{
  width:90%;
  height:40px;
  line-height: 40px;
  float: left;
  color: #647480;
  text-align: center;
  border-bottom:1px solid #dddddd;
}
.micro-item-content-tabel-tbody .item-list{
  cursor: pointer;
}
.micro-item-content-tabel-tbody .item-list:hover{
  background: #e9e9e9;
}

.micro-item-content-tabel-tbody .item-list:nth-child(odd){
  background: #e9e9e9;
}
.micro-item-content-tabel-tbody .item-list .titleNum{
  width:10%;
  height:40px;
  line-height:40px;
  float: left;
  text-align: center;
  border-right:1px solid #dddddd;
  border-bottom:1px solid #dddddd;
}
.micro-item-content-tabel-tbody .item-list .title{
  width: 90%;
  height: 40px;
  line-height: 40px;
  float: left;
  padding-left: 5px;
  border-bottom: 1px solid #dddddd;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}