/* div模拟select下拉框 以及日期控件 start*/
.select_div{
	position:relative;
	width: 215px;
	float:left;
}
.select_div input{
	border:0;
}
.finalValue,.startEndDateVal,.value_option{
	width:190px;
}
.finalValue{
	position:absolute;
	left:0;
	top:0;
	height:28px;
	line-height:28px;
	background:#fff url(stayMain_2ConSelectIcon_15.gif) no-repeat 175px center;
	color:#010101;
	padding:0 10px;
	cursor:pointer;
	border:1px solid #A5A1A1;
	border-radius:5px;
}
.startEndDateVal{
	position:absolute;
	left:0;
	top:0;
	height:28px;
	line-height:28px;
	background:#fff;
	color:#010101;
	padding:0 5px;
	cursor:pointer;
	border:1px solid #A5A1A1;
	border-radius:5px;
}
.startEndDateVal > span{
	width:78px;
	height:28px;
	line-height:28px;
	float:left;
}
.startEndDateVal > input{
	width:78px;
	height:25px;
	line-height:25px;
	float:left;
	border:0;
}

.startEndDateVal span.split_line{
	width:10px;
	line-height:24px;
	text-align:center;
}
.startEndDateVal span.date_arrow{
	width:10px;
}
.startEndDateVal span.date_arrow img{
	margin-top:-2px;
	padding-left:2px;
}

.value_option{
	position:absolute;
	left:0;
	top:28px;
	background:#fff;
	border-top:1px solid #e8e8e8;
	padding:1px;
	z-index:3;
	overflow:hidden;
	border:1px solid #ccc;
}
.value_option ul{
	margin:0;
	padding:0;
}
.value_option ul li{
	width:258px;
	height:24px;
	line-height:24px;
	list-style:none;
}
.value_option ul li a{
	display:block;
	width:248px;
	height:24px;
	color:#333;
	padding-left:10px;
}
.value_option ul li a:hover{
	background:#1e90ff;
	color:#000;
}
.value_option ul li a:hover,a:visited,a:active{
	text-decoration:none;
}
/* div模拟select下拉框 以及日期控件 end*/

/* div模拟select下拉框2 start */
.selected {
	float: left;
	border-radius:5px;
	border:1px solid #A5A1A1;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	height:28px;
	line-height:28px;
	min-width:111px;
}
.selected select{
	display:none;
}
.selected .tag_select {
	text-align: left;
	padding-left:10px;
	height: 28px;
	line-height: 28px;
	cursor: pointer;
	background: url("stayMain_2ConSelectIcon_15.gif") no-repeat scroll 93% center transparent;
}
.selected ul.tag_options {
	z-index: 1000;
	position: absolute;
	list-style-type: none;
	min-width: 109px;
	background: rgb(255,255,255);
	cursor: pointer;
	list-style-image: none;
	padding-left:0px;
	overflow:hidden;
	border: 1px solid #ccc;
	/*border-top:none;*/
	margin-top:-1px;
}
.selected ul.tag_options li {
	text-align: left;
	padding-bottom: 0px;
	line-height: 24px;
	padding:0 10px;
	display: block;
	height: 24px;
}
.selected ul.tag_options li.open_hover {
	background: #1e90ff; 
}
#tit1{
	padding-left: 35px;
}
/* div模拟select下拉框2 end */