/*@font-face {*/
    /*font-family: 'FangZhengLangTing';*/
    /*src: url('../font/FZLTHJW.TTF') format('truetype');*/
/*}*/

body {
    font-family: "Microsoft Yahei";
}
/*@font-face {*/
    /*font-family: 'YouYuan';*/
    /*src: url('../font/幼圆.TTF') format('truetype');*/
/*}*/

h1.top {
    position: absolute;
    text-align: center;
    /*color: #00FCFE;*/
    font-family: "Microsoft Yahei";
    color: #fff;
    font-size: 74px;
    font-weight: bolder;
    background: none;
    /*background-repeat: no-repeat;*/
    width: 100%;
    top: -27px;
    left: 8px;
    /*letter-spacing: -1.7px;*/
    padding-left: 15px;
    /*background-image: url(../img/title-bg-3.png);*/
    /*background-size: 100% 72%;*/
    /*background-position: 12px 8px;*/
}
.top_img{
    text-align: center;
    position: absolute;
    width:100%;
    top: 107px;
}
div.main {
    position: absolute;
    top: 135px;
    right: 17px;
    width: 98%;
    height: 90%;
    font-family:"Microsoft Yahei";
    /*background-image: url(../img/grad-bg.png);*/
    /*background-size: 100% 100%;*/
}

.forceMap {
    position: absolute;
    width: 100%;
    height:95%;
    top: 22px;
    left: -23px;
}

.forceMap svg {
    width: 100%;
    height: 100%;
}
.forceMsg{
    position: absolute;
    width: 20%;
    height: 85%;
    top: 28px;
    right: -11px;
    color: #ffffff;
}
.explain{
    position: absolute;
    bottom:30px;
    left:60px;
}
.explain span{
    margin:0 15px;
    font-size: 34px;
    color: #51cee0;

}
.explain i{
    display: inline-block;
    font-style: normal;
    margin-right: 15px;
    width:28px;
    height:28px;
}
.explain span:nth-of-type(1)>i{
    background: url("../images/circle_1.png")no-repeat;
    background-size:28px;
}
.explain span:nth-of-type(2)>i{
    background: url("../images/circle_web.png")no-repeat;
    background-size:28px;
}
.explain span:nth-of-type(3)>i{
    background: url("../images/circle_app.png")no-repeat;
    background-size:28px;
}
.explain span:nth-of-type(4)>i{
    background: url("../images/circle_ele.png")no-repeat;
    background-size:28px;
}
.explain span:nth-of-type(5)>i{
    background: url("../images/circle_weChat.png")no-repeat;
    background-size:28px;
}

.forceInfo{
    font-size: 40px;
    color: #51cee0;
    padding: 30px;
    line-height: 1.6;
    text-align: justify;
}
.forceInfo span{
    color: #ffffff;

}
.invert {
    background: #1f1f1f;
    color: #dcdccc;
}

.invert h2, .invert h3 {
    color: #7f9f7f;
}

.string, .regexp {
    color: #f39;
}

.keyword {
    color: #00c;
}

.comment {
    color: #777;
    font-style: oblique;
}

.number {
    color: #369;
}

.class, .special {
    color: #1181B8;
}

