/*! 2017-3 媒立方大屏展示页 */
/*公共部分*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
  	padding: 0;
}
body {
	margin: 0;
  	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, 宋体, SimSun, sans-serif;
}
body,html{
	overflow: hidden;
}
ul {
	list-style: none;
}
ul, li, div, select, p {
	margin: 0;
	padding: 0;
}
select{
	border: none;
	background: none
}
a {
  color: #333;
  text-decoration: none !important;
}
a:hover{
	color:#992423 
}
img {
  vertical-align: middle;
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*clearfix*/
.cf:before, .cf:after {content: " "; display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}

.warning {color: #f00;}
.strong {font-weight: bold; color: #265890;}
.mb30 {margin-bottom: 30px;}

.text-indent{
	text-indent: 2em;
}
.ellipsis{
	overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    width: 20em;/*不允许出现半汉字截断*/
}
.clamp{
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
}
.txt{
	/*padding: 0 15%;*/
	padding-top: 1%;
	text-align: left;
	text-indent: 2em;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.5em;
	padding-bottom: 10px;
}
.txt_static{
	/*padding-top: 10px;*/
}
.jiazai{
	width: 15%;
}
a.click_shuaxin{
	color: #55aeef;
}
.banner{
	/*margin: 15px 0px;*/
}
.summary{
	background-color: #2872ae;
	color: #fff;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.context{
	border-top: 1px solid#dddddd;
}
.col-md-2.summary {
    padding: 0px;
    text-align: center;
}
.detail_list{
	border-right: 1px solid#d0cfcf;
}
.summary_span{
	font-size: 20px;
	margin-left: 8px;
}
.summary_img{
	width: 20%;
}
.summary a{
	display: block;
	color: #fff;
	border-bottom: 1px solid#5b98ce;
	padding:15px 0px;
}
.active{
	background-color: #2889d0;
}
.detail_list a.active_list{
	background-color: #55aeef;
	color: #fff;
}
.detail_list a{
	color: #333333;
	display: block;
	height: 85px;
	position: relative;
	/*padding: 15px 0px;*/
	margin-bottom: 15px;
}
.detail_list h4{
	line-height: 1.5em;
}
.detail_list p{
	color: #666666;
	position: absolute;
	bottom: 0px;
}
.active_list p{
	color: #fff;
}
.detail_list{
	overflow-y: scroll;
}
.detail_info{
	overflow-y: scroll;
}
.article_txt p{
	text-indent: 2em;
}
.article_txt{
	line-height: 1.7em;
}
.article_tip{
	text-align: center;
}
.col-md-7.detail_info{
	/*padding: 15px;*/
	font-size: 16px;
}
.article_tip h4{
	font-weight: bold;
	font-size: 22px;
}
.fu_title {
    margin: 15px 0px;
    font-size: 14px;
}
.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
	overflow: hidden;
}
/*.summary a:hover{
	background-color: #1c83d2;
}*/