/*! 2017-3 媒立方大屏展示页 */
/*公共部分*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
  	padding: 0;
}
body {
	margin: 0;
  	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, 宋体, SimSun, sans-serif;
  	background-color: #0c1b38;
}
body,html{
	overflow: hidden;
}
ul {
	list-style: none;
}
ul, li, div, select, p {
	margin: 0;
	padding: 0;
}
select{
	border: none;
	background: none
}
a {
  color: #333;
  text-decoration: none !important;
}
a:hover{
	color:#992423 
}
img {
  vertical-align: middle;
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*clearfix*/
.cf:before, .cf:after {content: " "; display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}

.warning {color: #f00;}
.strong {font-weight: bold; color: #265890;}
.mb30 {margin-bottom: 30px;}

.text-indent{
	text-indent: 2em;
}
.ellipsis{
	overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    width: 20em;/*不允许出现半汉字截断*/
}
.clamp{
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
}
.summary{
	background-color: #0c1b38;
	color: #fff;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 1%;
	padding-bottom: 1%;
}
.col-md-2.summary {
    padding: 0px;
    text-align: center;
}
.summary_span{
	font-size: 24px;
	margin-left: 8px;
	color: #67b1f0;
}
.summary a{
	display: block;
	padding:30px 0px;
	margin-bottom: 5px;
	background-color: #182a52;

}
.summary a.active{
	background-color: #364860;
}
.container-fluid{
	padding: 0px;
}
.tip_info{
	font-size: 12px;
	color: #fff;
}
.col-md-10.right_iframe{
	padding-left: 5px;
	padding-right: 5px;
	height: 100%;
}
span.swiper-pagination-current{
	color: #59aef1; 
}
span.swiper-pagination-total {
    color: #59aef1;
}
.swiper-pagination{
	position: static;
}
.mlf_intro{
  position: relative;
}
.swiper-button-next, .swiper-button-prev{
  top:inherit;
  margin-top: 10px;
}
.swiper-button-next{
  left: 66%;
}
.swiper-button-prev{
  left: 33%;
}
.swiper-slide img{
}
.swiper-pagination.swiper-pagination-fraction{
  color: #59aef1;
  /*margin-bottom: 5px;*/
  /*line-height: 2.8em;*/
  background-color: transparent;
  padding-top: 0;
  font-size: 24px;
}