.radar {
    width: 100%;
    height: 100%;
    position: relative;
}

.radar svg {
    width: 100%;
    height: 100%;
}

.radar div {
    color: white;
    position: absolute;
    font-size: 63px;
}

.radar .up {
    top: 53px;
    left: 640px;
}

.radar .left {
    top: 777px;
    left: 61px;
}

.radar .right {
    top: 777px;
    left: 1253px;
}
