#ticker {
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: relative;
}

.measure {
    position: absolute;    
    visibility: hidden;    
    left: -1000px;         
    top: -1000px;          
}

.tickle {
	padding: 0 5px 0 5px; 
}

.tickle:hover {
	background: rgba(0, 180, 160, 0.1);
}
