body,html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 1920px;
	height: 1080px;
	background-color: rgb(13,20,30);
	color: white;
	font-family: simhei;
}
#column_div{
	position: absolute;
	height: 860px;
	width: 10px;
	left: 105px;
	top: 170px;
	background-color: rgb(0,140,141);
}
#top{
	float: left;
	height: 80px;
	width: 1840px;
	margin-top: 20px;
	margin-left: 20px;
	background-image: url(../img/brokenews_03.jpg);
	background-size: 100% 100%;
	font-size: 46px;
	font-family: simhei;
	line-height: 80px;
	padding-left: 50px;
}
#content{
	float: left;
	width: 1840px;
	height: 930px;
	margin: 0px 20px;
	overflow: hidden;
}
.item{
	position: relative;
	width: 1829px;
	height: 250px;
	margin-top: 60px;
}
.item_id{

	vertical-align: middle;
	margin-top: 88px;
	margin-left: 10px;
	width: 163px;
	height: 77px;
	background-color: rgb(20,194,209);
	border-radius: 20px;
	float: left;
	color: black;
	font-size: 36px;
	text-align: center;
	line-height: 77px;
	
}
.item_content{
	margin-left: 40px;
	float: left;
	width: 1604px;
	height: 250px;
	background-image: url(../img/brokeItem_03.jpg);
	background-size: 100% 100%;
}
.item_text{
	background-color: rgb(14,41,55);
	margin: 0px 20px 20px 20px;
	font-size: 40px;
	font-family: simsun;
	width: 1524px;
	height: 167px;
	padding: 20px;
	overflow: hidden;
}
.item_details{
	margin-left: 30px;
	font-size: 40px;
	margin-top: -20px;
}
.item_details span{
	margin-left: 30px;
}
