* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: auto;
}
@font-face {
    font-family: 'FangZhengHeiTi';
    src: url('../font/方正黑体_GBK.TTF') format('truetype');
}
body {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
    font-family: SimHei;
    font-weight: 500;
    background-color: #0d141d;
    background-size: cover;
}

.wrap{
    width: 100%;
    height: 100%;
    padding:10px;
    color:white;
}
.header{
    width: 100%;
    background: -webkit-linear-gradient(left, #228AA4, #1790A9, #0D7A91, #0E1720);
    background: linear-gradient(to right, #228AA4, #1790A9, #0D7A91, #0E1720);
}
.header p{
    padding:8px;
    text-align: center;
    font-size: 16px;
}
.span-left{
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 157px;
}
.span-right{
    float: right;
    margin-right: 10px;
    margin-top: 7px;
    width: 157px;
}
.content{
    width: 100%;
}
.reportlist,.middlebox,.rightbox{
    width: 630px;
    height: 1000px;
    padding: 5px 14px;
    float: left;
    position: relative;
}
.listbox,.topic-listbox{
    width: 100%;
    position: relative;
    margin: 0px 0 10px 0;
}
.reportlistheader-1{
    width: 611px;
    height: 9px;
    position: fixed;
    top: 45px;
    left: 26px;
    z-index: 12;
    background-color: #0d141d;
}
.topic-listbox{
    padding: 5px 10px;
    margin: 25px 0;
}
.topic-back{
    height: 265px;
}
.bluebg{
    background: url('../img/middle-bg-md.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.yellowbg{
    background: url('../img/middle-bg-md.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.blueborderup{
    width: 100%;
    top:-6.4px;
    left:0;
    position: absolute;
}
.blueborderdown{
    width: 100%;
    position: absolute;
    left:0;
    bottom: -5.4px;
}
.yellowborderup{
    width: 100%;
    top:-7px;
    left: 0;
    position: absolute;
}
.yellowborderdown{
    width: 100%;
    position: absolute;
    bottom:-5.5px;
    left:0;
}
.listheader{
    color: #48dfff;
}
.list-border-bottom{
    border-bottom:1px solid #48dfff;
}
.listheader{
    width: 100%;
    text-align: center;
    padding:7px 0;
    font-size: 21px;
    position: relative;
}
.headertitle-left{
    position: absolute;
    width: 30%;
    left:20px;
    top:5px;
    
}
.headertitle-right{
    position: absolute;
    width: 30%;
    right:20px;
    top:5px;
}
.listboxcontent{
    width: 100%;
    position: relative;
    padding: 5px 20px 15px 20px;
    margin:20px 10px;
    cursor: pointer;
}
.reporttitle,.details-content-title{
    width: 100%;
    position: relative;
    font-size: 19px;
    color: white;
}

.reporttitle p{
    padding:10px 0 10px 110px;;
}
.details-content-title p{
    padding: 10px 0 10px 90px;
}
.flagicon{
    position: absolute;
    top: 10px;
    left: 60px;
    width: 26px;
}
.listfocus{
    color: yellow !important;
}
.details-choose{
    position: absolute;
    left:20px;
    top: 9px;
    width: 20px;
}
.listchoose{
    position: absolute;
    left:20px;
    top: 9px;
    width: 20px;
    -webkit-animation: twinkling 2s infinite ease-in-out
}
.animated{
    -webkit-animation-duration: 2s;
    animation-duration:2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
@-webkit-keyframes twinkling{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes twinkling{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.reportheader{
    font-size: 21px;
    font-weight: 700;
    color: #48dfff;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 7px 0;
}
.reportdetails{
    width: 100%;
    padding: 0 10px;
}
.details-box{
    position: relative;
    background: url('../img/middle-bg-md.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding:10px;
    margin: 16px 0;
    min-height: 264px;
}
.details-content{
    padding: 10px 10px 20px 10px;
    text-indent: 32px;
    color: white;
}
.details-content p{
    padding:0 53px;
    line-height: 29px;
}
.details-keyword{
    padding: 5px 15px;
}
.details-keyword span{
    color: #48dfff;
}
.details-keyword p{
    display: inline-block;
    margin: 0 10px;
    color: white;
}
.rightcontent{
    width: 100%;
    height: 336px;
    float: left;
}
.taskdatalog{
    width: 100%;
    float: left;
    position: relative;
}
.hotarea{
    width: 100%;
    height: 320px;
    padding: 15px;
    position: relative;
}
.hotarea svg {
    position: absolute;
    top: 38px;
    left: 11px;
    width: 600px;
    height: 274px;
}
.hotarea .legend {
    position: absolute;
    top: 1px;
    left: 102px;
    margin: 8px 0;
}

.hotarea .item {
    float: left;
}
.hotarea .legend:first-child{
    margin-right: 120px;
}

.hotarea .item .color-lump {
    width: 60px;
    height: 16px;
    background-color: rgb(7, 162, 168);
    display: inline-block;
}

.hotarea .item .name {
    display: inline-block;
    color: white;
    margin: 0 5px;
    position: relative;
    top: -2px;
}
.grid{
    color: red;
}
.linecircle1{
    color: #03c878;
}
.linecircle{
    color: #efea38;
}
.tasklogpro{
    width: 130px;
    text-align: center;
    color: white;
    padding:7px 0;
    display: inline-block;
    margin-right: 4px;
}
.tasklog{
    margin:5px 0;
}
.tasklog:first-child{
    margin-left: 41px;
}
.tasklogdone{
    background: url('../img/tasklog-done.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.tasklognotdone{
    background: url('../img/tasklog-not.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:black;
}
.topic-bottom{
    padding: 5px 16px;
}
.topic-time{
    float: right;
}
.topic-p{
    padding: 5px 16px;
    font-size: 16px;
    line-height: 20px;
}
.topictitle{
    text-align: center;
    font-size: 18px;
    padding: 5px 0;
}
.metalogpro{
    width: 100%;
    padding: 17px 20px;
    position: relative;
    background: url(../img/middle-bg-md.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 281px;
    margin-top: 11px;
}
.metalog-start{
    width: 395px;
    height: 37px;
    display: inline-block;
}
.metalog-img{
    width: 395px;
    height: 44px;
    display:inline-block ;
}
.metalog-p{
    float: left;
    margin-top:19px;
    width: 120px;
    text-align: right;
    padding-right: 20px;
}
.bluerect{
    position: absolute;
    width: 4.9px;
    background-color: #18e1f3;
    height: 50px;
    left: 134.94px;
    top: -38px;
}
.metalog{
    margin-top: -4px;
    position: relative;
}
.adddata , .topicback,.reportdetails {
    width: 100%;
    float: left;
}
.topicback{
    height:336px;
}
.adddata{
    position: relative;
}
.adddata-list{
    height: 286px;
    position: relative;
    font-size: 16px;
}
.add-listbox{
    width: 88%;
    position: relative;
    padding:10px;
    height:120px;
    margin:20px auto;
    background: url('../img/md-2-md.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.md-2-up{
    width: 100%;
    position: absolute;
    left:0;
    top:-6.2px;
}
.md-2-down{
    width: 100%;
    position: absolute;
    left:0;
    bottom: -6.4px;
}
.add-p-1{
    padding:10px 15px;
    height:65px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.add-time-1{
    height: 25px;
    padding: 10px 20px;
}
.add-time-1 span{
    float: right;
}
.add-time-2{
    width: 50%;
    height: 20px;
    padding: 5px 10px;
    float: right;
}
.add-time-2 span{
    float: right;
}
.add-p-2{
    width: 50%;
    height: 80px;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding: 7px 9px;
}
.add-img-2{
    width: 50%;
    height: 107px;
    float: left;
}
.add-img-1{
    max-width: 100%;
    max-height: 100px;
    float: left;
}
.center-wrap{
    width: 100%;
    height:672px;
    position: relative;
}
.adddata-clickdown{
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 322px;
    width: 100%;
    height: 20%;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(13, 20, 29,0)), to(rgba(13, 20, 29,1)));
}
.clickdown-img{
    width: 50px;
    position: absolute;
    bottom: 0px;
    left: 46%;
}
.taskmaterial-up{
    /*padding-left: 50px;*/
    width: 100%;
    min-width: 602px;
    height:120px;
    border-bottom: solid 1px #73e0ff;
}
.taskmaterial-down{
    padding-left: 80px;
    min-width: 602px;
    width: 100%;
    height:120px;
    border-top: solid 1px #73e0ff;
}
.taskMaterials{
    width: 600px;
    height: 245px;

}
.materialbox{
    width: 191px;
    height:110px;
    margin:0 60px 0 0;
    position: relative;
    float: left;
}
.localtime-up{
    position: absolute;
    bottom: -18px;
    left: 93px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #73e0ff;
}
.localrect-up{
    width: 3px;
    height: 22px;
    background-color: #73e0ff;
    position: absolute;
    left: 99px;
    bottom: -5px;
}
.localtime-down{
    position: absolute;
    top: -8px;
    left: 93px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #73e0ff;
}
.localrect-down{
    width: 3px;
    height: 27px;
    background-color: #73e0ff;
    position: absolute;
    left: 99px;
    top: 4px;
}
.mater-time-up{
    position: absolute;
    bottom: -33px;
    left: 93px;
    height: 14px;
    color: white;
    font-size: 10px;
}
.mater-details-up{
    width: 186px;
    height:85px;
    position: absolute;
    bottom:16px;
    /*left:2px;*/
    background: url("../img/tasklog-video.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mater-time-down{
    position: absolute;
    top: -21px;
    left: 93px;
    height: 14px;
    color: white;
    font-size: 10px;
}
.mater-details-down{
    width: 186px;
    height:73px;
    position: absolute;
    top: 33px;
    /*left:2px;*/
    background: url("../img/tasklog-video.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}
.mater-p{
    width: 186px;
    height:61px;
    padding: 6px 15px 10px 15px;
    color: white;
    font-size: 14px;
    line-height: 19px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.mater-img{
    max-height:85px ;
    margin:0 auto;
    padding:10px 15px;
    max-width: 100%;
}
.big-box{
    position: absolute;
    overflow: hidden;
    left: 301px;
    top:162px;
    width: 0px;
    height: 0px;
    background: black;
    display: none;
    z-index: 10;
    text-align: center;
}
.big-img{
    max-width: 100%;
    margin:0 auto;
}
.playcover{
    position: absolute;
    top:0;
    left:0;
    width: 127px;
    height: 82px;
}
.play-img{
    position: absolute;
    left: 40px;
    width: 48px;
    top: 18px;
}
.font_title{
	    width: 200px;
    margin-left: 200px;
}
