<div class="radar">
    <svg>
        <g transform="translate(900,542)" style="stroke: #274150;stroke-width: 2px;">
            <line x1="0" y1="0" x2="0" y2="-330"></line>
            <line x1="0" y1="0" x2="285.8" y2="165"></line>
            <line x1="0" y1="0" x2="-285.8" y2="165"></line>
            <circle style="r: 110;stroke: #274150;stroke-width: 4px;fill: none;"></circle>
            <circle style="r: 165;stroke: #274150;stroke-width: 4px;fill: none;"></circle>
            <circle style="r: 220;stroke: #274150;stroke-width: 4px;fill: none;"></circle>
            <circle style="r: 275;stroke: #274150;stroke-width: 4px;fill: none;"></circle>
            <circle style="r: 330;stroke: #274150;stroke-width: 4px;fill: none;"></circle>
        </g>
        <g transform="translate(900,542)" class="radar">
        </g>
    </svg>
    <div class="up">
        阅读贡献：<span ng-bind="setPercent(currArticle.CONTRIBOFREAD)"></span>
    </div>
    <div class="left">
        转载贡献：<span ng-bind="setPercent(currArticle.CONTRIBOFREPRINT)"></span>
    </div>
    <div class="right">
        互动贡献：<span ng-bind="setPercent(currArticle.CONTRIBOFINTERACT)"></span>
    </div>
</div>
