.wrapper {
    position: absolute;
    z-index: 1;
    top: 1px;
    bottom: 0px;
    left: 0;
    width: 100%;
    /* background: #ccc; */
    overflow: hidden;
    /*width: 560px;*/
    margin: 0 35px;
}

.scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    margin-bottom: 40px;
    padding-right: 20px;
}

.iScrollIndicator {
    background: rgba(24, 225, 243, 0.498039)!important;
}
