body,html{
	margin: 0;
	padding: 0;
}

html {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

body{
	width: 1920px;
	height: 1080px;
	color: white;
	background: rgb(14,20,29);
	font-family: simhei;
	box-sizing: border-box;
    overflow: hidden;
}
#ab_scroll{
	width: 5px;
	height: 888px;
	position: absolute;
	left: 60px;
	top: 153px;
	background: rgb(41,138,161);
}
.top{
	width:1840px;
	height:80px;
	line-height: 80px;
	font-size:46px;
	margin-left: 20px;
	margin-top: 10px;
	padding-left:50px;
	float:left;
	background-image:url(../img/Once_03.jpg);
	background-size: 100% 100%;
}
.main{
	width: 1888px;
	height: 975px;
	float: left;
	margin:10px 0px 0px 20px;
	box-sizing: border-box;
	background: rgb(16,52,62);
	overflow: hidden;
}
.item{
	width: 1870px;
	height: auto;
	max-height: 250px;
	float: left;
	margin-top: 30px;
}
.top_circle{
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 22px;
	border-radius: 50% 50%;
	background: rgb(49,210,254);
	position: relative;
}
.item_message{
	float: left;
	width: 1800px;
	height: 40px;
	line-height: 40px;
	font-size: 40px;
}
.item_message span{
	display: inline-block;
	float: left;
	height: inherit;
	color:#1C8CB6;
}
.item_time{
	margin-left: 30px;
	width: 405px;
}
.item_name{
	width: 850px;
}
.item_from{
	width: 505px;
	display: inline-block;
	text-align: right;
}
.item_text{
	overflow: hidden;
	width: 1755px;
	max-height: 135px;
	height: auto;
	/*line-height: 70px;*/
	line-height: 100px;
	font-size: 41px;
	background: rgb(8,29,34);
	float: left;
	margin-left: 90px;
	margin-top: 20px;
	
	padding-left: 20px;
}

.main .noData{
    width: 100%;
    height: 100%;
    padding-top: 470px;
    padding-left: 810px;
    font-size: 46px;
    color: #00E8F5;
}