<div ng-if="status.show" class="m-txtcont slide-down" style="">
    <div class="m-titbox">
        <div class="m-tab" ng-bind="field"></div>
        <div class="m-txt" ng-bind="data.DOCTITLE"></div>
        <a ng-show="isClose" href="#" class="m-close" ng-click="close()">关闭</a>
    </div>
    <div class="m-txtarea">
        <div ng-if="data.HTMLCONTENT" scroll-end="scrollEnd()" scroll-bar auto-scroll-config="status.config" class="m-txt">
            <p config="status.config" class="content" ng-bind-html="data.HTMLCONTENT">
            </p>
        </div>
        <div class="m-morebox">
            <a ng-href="{{data.URL}}" target="_blank" class="m-more">查看原文</a>
        </div>
    </div>
</div>